# c#
bin/
obj/
packages/

# rider / reshaper
riderModule.iml
_ReSharper.Caches/

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# All
.idea

# File-based project format
*.iws

# mpeltonen/sbt-idea plugin
.idea_modules/

# compiled vulcan shaders
*.spv

# ignore all ueer files
*.user

# visual studio
.vs

# vs-code
.history
.vscode
.code